* {
  margin: 0 auto;
}

html, body {
  width: 100%;
  height: 100%;
}

.table_view {
  width: 100%;
  height: 100%;
  background: #27ae60;
}

.deck_view, .opened_cards_view {
  position: relative;
  display: inline-block;
  width: 125px;
  height: 175px;
  top: 10px;
}

.deck_view {
  margin-left: 10px;
}

.opened_cards_view {
  margin-left: 10px;
}

.cells_view {
  position: absolute;
  display: inline-block;
  float: left;
  width: 100%;
  text-align: center;
  top: 35%;
}

.card {
  width: 125px;
  height: 175px;
  position: absolute;
}

.card > img {
  width: 125px;
  height: 175px;
}

.closed {
  background: url(img/back.png);
  background-size: 125px 175px;
}

.column {
  width: 125px;
  height: 175px;
  display: inline-block;
}
